body {
    background-color: darkgreen;
}

.hero-body {
    height: 580px;
    background-color: darkslategrey
}

.img-Dog{
    width: 100px;
    background-position: top left;
    margin-left: 200px;

}
.imgMove {
    position:absolute;
    right: 100px;
    top: 80px;
    display: inline-flex;
}
.imgMove img {
    margin: auto 5px;
    float: left;
    width: 560px;
    height: 350px;

}

.hero-text{
    text-align: left;
    margin-left: 200px;
    font-size: 15px;
    color: white;
    
}

.hero-text2 {
    text-align: left;
    margin-left: 200px;
    font-size: 15px;
    color: white;

}

.headerLogo {
    margin-left: 200px;
    background-color: rgb(0, 76, 255);
    height: 40px;
    width: 100px;
    padding: 2px 40px 30px;
    text-align: center;
    position: relative;
    top: 10px;
    color: white;
    border-radius: 15px;
   
}

/*2 Second Line */
.secondLine {
    height: 580px;
    padding: 8px;
    background:  azure;
    border: 5px solid gold;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.boxesMove{
    position: absolute;
    display: inline-flex;
    margin-top: 180px;
}


.box1 {
    width: 180px;
    height: 150px;
    border: 5px solid lightskyblue;
    /* this adds pic into background
    secon line makes it fit the box */
    background-image: url(Images/beach.jpg); 
    background-size: cover;

   
}

.box2 {
    width: 180px;
    height: 150px;
    border: 5px solid lightskyblue;
    /* to leave space between boxes*/
    margin-left: 40px;
    background-image: url(Images/window.jpg);
    background-size: cover;
    
}


.box3{
    width: 180px;
    height: 150px;
    border: 5px solid lightskyblue;
     /* to leave space */
     margin-left: 40px;
     background-image: url(Images/blackDog.jpg);
     background-size:cover;
}

.box4 {
    width: 180px;
    height: 150px;
    border: 5px solid lightskyblue;
     /* to leave space */
     margin-left: 40px;
     background-image: url(Images/happyDog.jpg);
     background-size:cover;
}

/* 3 Quote Box */
.quoteBox {
    height: 300px;
    padding: auto;
    background: lightgrey;
    border: 5px solid black;
    display: flex;
    gap: 20px;
}


/* 4 Last Box */
.lastBox {
    height: 160px;
    padding: 120px;
    background: white;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.insideLastBox {
    width: 2000px;
    height: 180px;
    /* Keeps the border nice and curved */
    border-radius: 15px ; 
    background-color: rgb(50, 86, 206);
}

.signUpButton {
    position: absolute;
    top: 1700px;
    left: 1030px;
    right: 500px;
    

    
    /* color of design for sign up button */
   background-color: aqua;

   border-radius: 15px;
   /* border around button */
   border: 5px double;
    color:white;
    text-decoration: none;
    display: inline-block;
    
    /* padding : 
    this is for the spacing of the "sign up" inside the button */
    padding: 10px 72px;
    text-align: center;
   
    width: 80px;

    margin: 5px 2px;
   
    
}
