body {
    background-color: darkgreen;
}

.hero-body {
    height: 580px;
    background-color: darkslategrey
}

.img-Dog{
    width: 100px;
    background-position: top left;
    margin-left: 200px;

}
.imgMove {
    position:absolute;
    right: 100px;
    top: 80px;
    display: inline-flex;
}
.imgMove img {
    margin: auto 5px;
    float: left;
    width: 560px;
    height: 350px;

}

.hero-text{
    text-align: left;
    margin-left: 200px;
    font-size: 15px;
    color: white;
    
}

.hero-text2 {
    text-align: left;
    margin-left: 200px;
    font-size: 15px;
    color: white;

}

.headerLogo {
    margin-left: 200px;
    background-color: aqua;
    border: 5px solid darkblue;
    height: 70px;
    width: 100px;
    flex: 2 2 auto;
}

/*2 Second Line */
.secondLine {
    height: 580px;
    padding: 8px;
    background:  azure;
    border: 5px solid gold;
    display: flex;
    justify-content: center;
    gap: 8px;
}


.boxesMove{
    position: absolute;
    display: inline-flex;
    margin-top: 180px;
}

.box1 {
    width: 180px;
    height: 150px;
    border: 3px solid lightskyblue;
   
}

.box2 {
    width: 180px;
    height: 150px;
    border: 3px solid lightskyblue;
    /* to leave space */
    margin-left: 30px;
    
}


.box3{
    width: 180px;
    height: 150px;
    border: 3px solid lightskyblue;
     /* to leave space */
     margin-left: 30px;
}

.box4 {
    width: 180px;
    height: 150px;
    border: 3px solid lightskyblue;
     /* to leave space */
     margin-left: 30px;
}

/* 3 Quote Box */
.quoteBox {
    height: auto;
    padding: auto;
    background: lightgrey;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.insideBox {
    text-align: center;
}

/* 4 Last Box */
.lastBox {
    height: 160px;
    padding: 120px;
    background: white;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.insideLastBox {
    width: 2000px;
    height: 180px;
    border: 4px solid darkblue; 
}

.signUpButton {
    width: 100px;
    height: 20;
    border: 5px solid green;
    position:relative;
    bottom: 10px;
    left: 1030px;
    
}
